.wip

# Ignore macOS system files
.DS_Store

node_modules

package-lock.json

.vscode


yarn.lock

.env.development

logs.txt

db.sqlite

.env

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
*.prof
*.test

# Database
*.sqlite

# Hardhat
artifacts
cache

# Circom related
stealth-api/circuit/build/
stealth-api/circuit/powersOfTau*